<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerlink}}
  </head>
  <body>
    {{>navbar}}
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto  ">
          <div class="row  flex-nowrap ">
            <!-- left div -->
            <div class="col-md-10 col-12 w-50 main_header_left">
              <p>Welcome to the weather app</p>
              <h1>Get the latest <span>weather</span> info of your city</h1>
              <a href="/weather"><button>Click me</button></a>
            </div>
            <!-- rigth div -->
            <div class="col-md-10 col-12 main_header_right ">
                <div id="carouselExampleControls" class="carousel slide w-50 " data-bs-ride="carousel">
                    <div class="carousel-inner  ">
                      <div class="carousel-item active  ">
                        <img src="images/neda-astani-KWTkd7mHqKE-unsplash.jpg" class=" w-100 " alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="images/noaa-kcvlb727mn8-unsplash.jpg" class="w-100 " alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="images/wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg" class=" w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>

